<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.promanage.mapper.TableFileMapper" >
  <resultMap id="BaseResultMap" type="com.test.promanage.po.TableFile" >
    <id column="fileid" property="fileid" jdbcType="INTEGER" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="proid" property="proid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="taskid" property="taskid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.test.promanage.po.TableFile" extends="BaseResultMap" >
    <result column="intro" property="intro" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fileid, filename, filepath, proid, userid, taskid, createtime
  </sql>
  <sql id="Blob_Column_List" >
    intro
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.test.promanage.po.TableFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from table_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.test.promanage.po.TableFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from table_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from table_file
    where fileid = #{fileid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from table_file
    where fileid = #{fileid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.promanage.po.TableFileExample" >
    delete from table_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.promanage.po.TableFile" >
    insert into table_file (fileid, filename, filepath, 
      proid, userid, taskid, 
      createtime, intro)
    values (#{fileid,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{proid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{taskid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{intro,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.promanage.po.TableFile" >
    insert into table_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        fileid,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="proid != null" >
        proid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="intro != null" >
        intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileid != null" >
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.promanage.po.TableFileExample" resultType="java.lang.Integer" >
    select count(*) from table_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update table_file
    <set >
      <if test="record.fileid != null" >
        fileid = #{record.fileid,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.proid != null" >
        proid = #{record.proid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.taskid != null" >
        taskid = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.intro != null" >
        intro = #{record.intro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update table_file
    set fileid = #{record.fileid,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      proid = #{record.proid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      taskid = #{record.taskid,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      intro = #{record.intro,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update table_file
    set fileid = #{record.fileid,jdbcType=INTEGER},
      filename = #{record.filename,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      proid = #{record.proid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      taskid = #{record.taskid,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.promanage.po.TableFile" >
    update table_file
    <set >
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        proid = #{proid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null" >
        taskid = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.test.promanage.po.TableFile" >
    update table_file
    set filename = #{filename,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      proid = #{proid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      taskid = #{taskid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      intro = #{intro,jdbcType=LONGVARCHAR}
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.promanage.po.TableFile" >
    update table_file
    set filename = #{filename,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      proid = #{proid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      taskid = #{taskid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where fileid = #{fileid,jdbcType=INTEGER}
  </update>
</mapper>